@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground antialiased selection:bg-secondary/30;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tight font-bold text-primary;
  }
  button {
    @apply cursor-pointer;
  }
}
